DEEPSEEK_API_KEY=your_deepseek_api_key
TAVILY_API_KEY=your_tavily_api_key

LANGSMITH_API_KEY=your_langsmith_api_key
LANGSMITH_TRACING=true
LANGSMITH_PROJECT=BioReagentMS

BACKEND_USERNAME=admin
BACKEND_PASSWORD=your_password

VITE_AGENT_URL=http://localhost:8123

EMBEDDING_MODEL=modelscope.cn/gpustack/bge-m3-GGUF:latest
